{% extends 'mainApp/base.html' %}
{% load static %}

{% block title %}Blogs{% endblock %}

{% block body %}
<!-- Blog Start -->
<div class="container-fluid blog pb-5">
    <div class="container pb-5">
        <div class="pb-5">
            <h4 class="text-secondary sub-title fw-bold wow fadeInUp" data-wow-delay="0.1s">Blog & News</h4>
            <h1 class="display-2 mb-0 wow fadeInUp" data-wow-delay="0.3s">Our Latest News & Articles</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="blog-item bg-white rounded">
                    <div class="blog-img rounded-top">
                        <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="bg-light rounded-bottom p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <a href="#" class="text-muted"><i class="fa fa-calendar-alt text-primary"></i> 28 August 2021</a>
                            <a href="#" class="text-muted"><span class="fa fa-comments text-primary"></span> 3 Comments</a>
                        </div>
                        <a href="#" class="h4 mb-3 d-block">Classical Dance class</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="blog-item bg-white rounded">
                    <div class="blog-img rounded-top">
                        <img src="{% static 'mainApp/img/class-2.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="bg-light rounded-bottom p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <a href="#" class="text-muted"><i class="fa fa-calendar-alt text-primary"></i> 28 August 2021</a>
                            <a href="#" class="text-muted"><span class="fa fa-comments text-primary"></span> 3 Comments</a>
                        </div>
                        <a href="#" class="h4 mb-3 d-block">Modern Dance Style</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="blog-item bg-white rounded">
                    <div class="blog-img rounded-top">
                        <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="bg-light rounded-bottom p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <a href="#" class="text-muted"><i class="fa fa-calendar-alt text-primary"></i> 28 August 2021</a>
                            <a href="#" class="text-muted"><span class="fa fa-comments text-primary"></span> 3 Comments</a>
                        </div>
                        <a href="#" class="h4 mb-3 d-block">Contemporary Dance</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="blog-item bg-white rounded">
                    <div class="blog-img rounded-top">
                        <img src="{% static 'mainApp/img/class-4.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="bg-light rounded-bottom p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <a href="#" class="text-muted"><i class="fa fa-calendar-alt text-primary"></i> 28 August 2021</a>
                            <a href="#" class="text-muted"><span class="fa fa-comments text-primary"></span> 3 Comments</a>
                        </div>
                        <a href="#" class="h4 mb-3 d-block">Jazz Dance Class</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.9s">
                <div class="blog-item bg-white rounded">
                    <div class="blog-img rounded-top">
                        <img src="{% static 'mainApp/img/class-5.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="bg-light rounded-bottom p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <a href="#" class="text-muted"><i class="fa fa-calendar-alt text-primary"></i> 28 August 2021</a>
                            <a href="#" class="text-muted"><span class="fa fa-comments text-primary"></span> 3 Comments</a>
                        </div>
                        <a href="#" class="h4 mb-3 d-block">Hip Hop Dance</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 wow fadeInUp" data-wow-delay="0.11s">
                <div class="blog-item bg-white rounded">
                    <div class="blog-img rounded-top">
                        <img src="{% static 'mainApp/img/class-6.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                    </div>
                    <div class="bg-light rounded-bottom p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <a href="#" class="text-muted"><i class="fa fa-calendar-alt text-primary"></i> 28 August 2021</a>
                            <a href="#" class="text-muted"><span class="fa fa-comments text-primary"></span> 3 Comments</a>
                        </div>
                        <a href="#" class="h4 mb-3 d-block">Ballet Dance</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
{% endblock body %}

