{% extends "mainApp/base.html" %}
{% load static %}

{% block title %}Events{% endblock %}

{% block body %}
<!-- Events Start -->
<div class="container-fluid events py-5">
    <div class="container py-5">
        <div class="pb-5">
            <div class="row g-4 align-items-end">
                <div class="col-xl-8">
                    <h4 class="text-secondary sub-title fw-bold wow fadeInUp" data-wow-delay="0.1s">Events</h4>
                    <h1 class="display-2 mb-0 wow fadeInUp" data-wow-delay="0.3s">Upcoming Events</h1>
                </div>
                <div class="col-xl-4 text-xl-end pb-3 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">View All Events</a>
                </div>
            </div>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="event-item rounded">
                    <div class="position-relative">
                        <img src="{% static 'mainApp/img/service-1.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                        <div class="bg-primary text-white fw-bold rounded d-inline-block position-absolute p-2"
                            style="top: 0; right: 0;">JAN 20</div>
                        <div class="d-flex justify-content-between border-start border-end bg-white px-2 py-2 w-100 position-absolute"
                            style="bottom: 0; left: 0; opacity: 0.8;">
                            <a href="#" class="text-dark"><i class="fas fa-clock text-primary"></i> 08:00AM -
                                10:00PM</a>
                            <a href="#" class="text-dark"><span class="fas fa-map-marker-alt text-primary"></span> New
                                York</a>
                        </div>
                    </div>
                    <div class="border border-top-0 rounded-bottom p-4">
                        <a href="#" class="h4 mb-3 d-block">Open House - Springs Dance</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi
                            blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Watch Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="event-item rounded">
                    <div class="position-relative">
                        <img src="{% static 'mainApp/img/service-2.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                        <div class="bg-primary text-white rounded d-inline-block position-absolute p-2"
                            style="top: 0; right: 0;">JUN 30</div>
                        <div class="d-flex justify-content-between border-start border-end bg-white px-2 py-2 w-100 position-absolute"
                            style="bottom: 0; left: 0; opacity: 0.8;">
                            <a href="#" class="text-dark"><i class="fas fa-clock text-primary"></i> 08:00AM -
                                10:00PM</a>
                            <a href="#" class="text-dark"><span class="fas fa-map-marker-alt text-primary"></span> New
                                York</a>
                        </div>
                    </div>
                    <div class="border rounded-bottom p-4">
                        <a href="#" class="h4 mb-3 d-block">Open House And Registration</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi
                            blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Watch Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="event-item rounded">
                    <div class="position-relative">
                        <img src="{% static 'mainApp/img/service-3.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                        <div class="bg-primary text-white rounded d-inline-block position-absolute p-2"
                            style="top: 0; right: 0;">MAY 15</div>
                        <div class="d-flex justify-content-between border-start border-end bg-white px-2 py-2 w-100 position-absolute"
                            style="bottom: 0; left: 0; opacity: 0.8;">
                            <a href="#" class="text-dark"><i class="fas fa-clock text-primary"></i> 08:00AM -
                                10:00PM</a>
                            <a href="#" class="text-dark"><span class="fas fa-map-marker-alt text-primary"></span> New
                                York</a>
                        </div>
                    </div>
                    <div class="border rounded-bottom p-4">
                        <a href="#" class="h4 mb-3 d-block">Open House Morris Dance</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi
                            blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Watch Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="event-item rounded">
                    <div class="position-relative">
                        <img src="{% static 'mainApp/img/service-4.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                        <div class="bg-primary text-white rounded d-inline-block position-absolute p-2"
                            style="top: 0; right: 0;">APR 2</div>
                        <div class="d-flex justify-content-between border-start border-end bg-white px-2 py-2 w-100 position-absolute"
                            style="bottom: 0; left: 0; opacity: 0.8;">
                            <a href="#" class="text-dark"><i class="fas fa-clock text-primary"></i> 08:00AM -
                                10:00PM</a>
                            <a href="#" class="text-dark"><span class="fas fa-map-marker-alt text-primary"></span> New
                                York</a>
                        </div>
                    </div>
                    <div class="border rounded-bottom p-4">
                        <a href="#" class="h4 mb-3 d-block">Open House Dance Studio</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi
                            blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Watch Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Events End -->


<!-- Counter Facts Start -->
<div class="container-fluid counter-facts py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="counter">
                    <div class="counter-icon w-100 d-flex align-items-center justify-content-center">
                        <h3>Dance Classes</h3>
                    </div>
                    <div class="counter-content d-flex align-items-center justify-content-center mt-4">
                        <span class="counter-value" data-toggle="counter-up">158</span>
                        <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="counter">
                    <div class="counter-icon w-100 d-flex align-items-center justify-content-center">
                        <h3>Best Instructor</h3>
                    </div>
                    <div class="counter-content d-flex align-items-center justify-content-center mt-4">
                        <span class="counter-value" data-toggle="counter-up">49</span>
                        <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="counter">
                    <div class="counter-icon w-100 d-flex align-items-center justify-content-center">
                        <h3>Total Brunch</h3>
                    </div>
                    <div class="counter-content d-flex align-items-center justify-content-center mt-4">
                        <span class="counter-value" data-toggle="counter-up">17</span>
                        <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="counter">
                    <div class="counter-icon w-100 d-flex align-items-center justify-content-center">
                        <h3>Happy customer</h3>
                    </div>
                    <div class="counter-content d-flex align-items-center justify-content-center mt-4">
                        <span class="counter-value" data-toggle="counter-up">567</span>
                        <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter Facts End -->


<!-- Video Gallery Start -->
<div class="container-fluid gallery py-5">
    <div class="container py-5">
        <div class="pb-5">
            <h4 class="text-secondary sub-title fw-bold wow fadeInUp" data-wow-delay="0.1s">Dance Gallery</h4>
            <h1 class="display-2 mb-0 wow fadeInUp" data-wow-delay="0.3s">Our Dance class gallery</h1>
        </div>
        <div class="tab-class wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center pb-4">
                <li class="nav-item bg-light border border-primary rounded-pill mb-4">
                    <a class="d-flex py-2 px-5 rounded-pill active" data-bs-toggle="pill" href="#GalleryTab-1">
                        <span class="text-dark">All</span>
                    </a>
                </li>
                <li class="nav-item bg-light border border-primary rounded-pill mb-4">
                    <a class="d-flex py-2 px-5 rounded-pill" data-bs-toggle="pill" href="#GalleryTab-2">
                        <span class="text-dark">Dance Practice</span>
                    </a>
                </li>
                <li class="nav-item bg-light border border-primary rounded-pill mb-4">
                    <a class="d-flex py-2 px-5 rounded-pill" data-bs-toggle="pill" href="#GalleryTab-3">
                        <span class="text-dark">Dance Training</span>
                    </a>
                </li>
                <li class="nav-item bg-light border border-primary rounded-pill mb-4">
                    <a class="d-flex py-2 px-5 rounded-pill" data-bs-toggle="pill" href="#GalleryTab-4">
                        <span class="text-dark">Dance Growth</span>
                    </a>
                </li>
                <li class="nav-item bg-light border border-primary rounded-pill mb-4">
                    <a class="d-flex py-2 px-5 rounded-pill" data-bs-toggle="pill" href="#GalleryTab-5">
                        <span class="text-dark">Dance Improvement</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-2">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-2.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2 wow fadeInUp" data-wow-delay="0.9s">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-2.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2 wow fadeInUp" data-wow-delay="0.9s">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="GalleryTab-2" class="tab-pane fade show p-0">
                    <div class="row g-2">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-2.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-2.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="GalleryTab-3" class="tab-pane fade show p-0">
                    <div class="row g-2">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-2.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-2.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="GalleryTab-4" class="tab-pane fade show p-0">
                    <div class="row g-2">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-2.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-2.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="GalleryTab-5" class="tab-pane fade show p-0">
                    <div class="row g-2">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-2.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-2.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-1.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                            <div class="video h-100">
                                <img src="{% static 'mainApp/img/class-3.jpg' %}" class="img-fluid rounded w-100 h-100"
                                    style="object-fit: cover;" alt="">
                                <button type="button" class="btn btn-play" data-bs-toggle="modal"
                                    data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Video -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                        allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Gallery End -->


{% endblock body %}