{% extends 'mainApp/base.html' %}
{% load static %}

{% block title %}Dance Gallery{% endblock %}

{% block body %}
<!-- Image Gallery Start -->
<style>
    .gallery-item {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }
    .gallery-item img {
        transition: transform 0.3s ease;
    }
    .gallery-item:hover img {
        transform: scale(1.1);
    }
    .gallery-item .zoom-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gallery-item:hover .zoom-icon {
        opacity: 1;
    }
    .zoom-icon i {
        color: white;
        font-size: 24px;
    }
</style>

<div class="container-fluid gallery pb-5">
    <div class="container pb-5">
        <div class="pb-5">
            <h4 class="text-secondary sub-title fw-bold wow fadeInUp" data-wow-delay="0.1s">Dance Gallery</h4>
            <h1 class="display-2 mb-0 wow fadeInUp" data-wow-delay="0.3s">Our Dance class gallery</h1>
        </div>
        <div class="tab-class wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center pb-4">
                <li class="nav-item bg-light border border-primary rounded-pill mb-4">
                    <a class="d-flex py-2 px-5 rounded-pill active" data-bs-toggle="pill" href="#GalleryTab-1">
                        <span class="text-dark">All</span>
                    </a>
                </li>
                <li class="nav-item bg-light border border-primary rounded-pill mb-4">
                    <a class="d-flex py-2 px-5 rounded-pill" data-bs-toggle="pill" href="#GalleryTab-2">
                        <span class="text-dark">Dance Practice</span>
                    </a>
                </li>
                <li class="nav-item bg-light border border-primary rounded-pill mb-4">
                    <a class="d-flex py-2 px-5 rounded-pill" data-bs-toggle="pill" href="#GalleryTab-3">
                        <span class="text-dark">Dance Training</span>
                    </a>
                </li>
                <li class="nav-item bg-light border border-primary rounded-pill mb-4">
                    <a class="d-flex py-2 px-5 rounded-pill" data-bs-toggle="pill" href="#GalleryTab-4">
                        <span class="text-dark">Dance Growth</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-2">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/1.webp' %}" data-lightbox="gallery">
                                    <img src="{% static 'mainApp/img/gallery/1.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/2.webp' %}" data-lightbox="gallery">
                                    <img src="{% static 'mainApp/img/gallery/2.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/3.webp' %}" data-lightbox="gallery">
                                    <img src="{% static 'mainApp/img/gallery/3.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/4.webp' %}" data-lightbox="gallery">
                                    <img src="{% static 'mainApp/img/gallery/4.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.9s">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/5.webp' %}" data-lightbox="gallery">
                                    <img src="{% static 'mainApp/img/gallery/5.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.11s">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/6.webp' %}" data-lightbox="gallery">
                                    <img src="{% static 'mainApp/img/gallery/6.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.12s">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/7.webp' %}" data-lightbox="gallery">
                                    <img src="{% static 'mainApp/img/gallery/7.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.13s">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/8.webp' %}" data-lightbox="gallery">
                                    <img src="{% static 'mainApp/img/gallery/8.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.14s">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/9.webp' %}" data-lightbox="gallery">
                                    <img src="{% static 'mainApp/img/gallery/9.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.15s">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/10.webp' %}" data-lightbox="gallery">
                                    <img src="{% static 'mainApp/img/gallery/10.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.16s">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/11.webp' %}" data-lightbox="gallery">
                                    <img src="{% static 'mainApp/img/gallery/11.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.17s">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/12.webp' %}" data-lightbox="gallery">
                                    <img src="{% static 'mainApp/img/gallery/12.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="GalleryTab-2" class="tab-pane fade show p-0">
                    <div class="row g-2">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/1.webp' %}" data-lightbox="gallery-practice">
                                    <img src="{% static 'mainApp/img/gallery/1.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/2.webp' %}" data-lightbox="gallery-practice">
                                    <img src="{% static 'mainApp/img/gallery/2.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/3.webp' %}" data-lightbox="gallery-practice">
                                    <img src="{% static 'mainApp/img/gallery/3.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/4.webp' %}" data-lightbox="gallery-practice">
                                    <img src="{% static 'mainApp/img/gallery/4.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/7.webp' %}" data-lightbox="gallery-practice">
                                    <img src="{% static 'mainApp/img/gallery/7.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/8.webp' %}" data-lightbox="gallery-practice">
                                    <img src="{% static 'mainApp/img/gallery/8.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="GalleryTab-3" class="tab-pane fade show p-0">
                    <div class="row g-2">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/2.webp' %}" data-lightbox="gallery-training">
                                    <img src="{% static 'mainApp/img/gallery/2.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/4.webp' %}" data-lightbox="gallery-training">
                                    <img src="{% static 'mainApp/img/gallery/4.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/5.webp' %}" data-lightbox="gallery-training">
                                    <img src="{% static 'mainApp/img/gallery/5.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/6.webp' %}" data-lightbox="gallery-training">
                                    <img src="{% static 'mainApp/img/gallery/6.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/9.webp' %}" data-lightbox="gallery-training">
                                    <img src="{% static 'mainApp/img/gallery/9.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/10.webp' %}" data-lightbox="gallery-training">
                                    <img src="{% static 'mainApp/img/gallery/10.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="GalleryTab-4" class="tab-pane fade show p-0">
                    <div class="row g-2">
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/1.webp' %}" data-lightbox="gallery-growth">
                                    <img src="{% static 'mainApp/img/gallery/1.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/3.webp' %}" data-lightbox="gallery-growth">
                                    <img src="{% static 'mainApp/img/gallery/3.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/5.webp' %}" data-lightbox="gallery-growth">
                                    <img src="{% static 'mainApp/img/gallery/5.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/6.webp' %}" data-lightbox="gallery-growth">
                                    <img src="{% static 'mainApp/img/gallery/6.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/11.webp' %}" data-lightbox="gallery-growth">
                                    <img src="{% static 'mainApp/img/gallery/11.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="gallery-item h-100">
                                <a href="{% static 'mainApp/img/gallery/12.webp' %}" data-lightbox="gallery-growth">
                                    <img src="{% static 'mainApp/img/gallery/12.webp' %}" class="img-fluid rounded w-100 h-100" style="object-fit: cover;" alt="">
                                    <div class="zoom-icon">
                                        <i class="bi bi-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Image Gallery End -->
{% endblock body %}

