{% extends 'mainApp/base.html' %}
{% load static %}

{% block title %}Our Team{% endblock %}

{% block body %}
<!-- Team Start -->
<div class="container-fluid team pb-5">
    <div class="container pb-5">
        <div class="pb-5">
            <h4 class="text-secondary sub-title fw-bold wow fadeInUp" data-wow-delay="0.1s">Meet The Experts</h4>
            <h1 class="display-2 mb-0 wow fadeInUp" data-wow-delay="0.3s">Our Professional Instructors</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item border rounded overflow-hidden">
                    <div class="team-img bg-secondary rounded-top position-relative">
                        <img src="{% static 'mainApp/img/trainer/trainer-profile-1.png' %}" class="img-fluid rounded-top w-100" style="height: 300px; object-fit: cover;" alt="Asha Kulkarni">
                        <div class="team-icon d-flex justify-content-center">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content text-center p-4">
                        <h4 class="mb-1">Asha Kulkarni</h4>
                        <p class="text-primary mb-0">Founder & CEO</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item border rounded overflow-hidden">
                    <div class="team-img bg-secondary rounded-top position-relative">
                        <img src="{% static 'mainApp/img/trainer/trainer-profile-2.png' %}" class="img-fluid rounded-top w-100" style="height: 300px; object-fit: cover;" alt="Rohit Patil">
                        <div class="team-icon d-flex justify-content-center">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content text-center p-4">
                        <h4 class="mb-1">Rohit Patil</h4>
                        <p class="text-primary mb-0">Lead Trainer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item border rounded overflow-hidden">
                    <div class="team-img bg-secondary rounded-top position-relative">
                        <img src="{% static 'mainApp/img/trainer/trainer-profile-3.png' %}" class="img-fluid rounded-top w-100" style="height: 300px; object-fit: cover;" alt="Sneha Kulkarni">
                        <div class="team-icon d-flex justify-content-center">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content text-center p-4">
                        <h4 class="mb-1">Sneha Kulkarni</h4>
                        <p class="text-primary mb-0">Head - Placements</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item border rounded overflow-hidden">
                    <div class="team-img bg-secondary rounded-top position-relative">
                        <img src="{% static 'mainApp/img/trainer/trainer-profile-4.png' %}" class="img-fluid rounded-top w-100" style="height: 300px; object-fit: cover;" alt="Vikram Joshi">
                        <div class="team-icon d-flex justify-content-center">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="team-content text-center p-4">
                        <h4 class="mb-1">Vikram Joshi</h4>
                        <p class="text-primary mb-0">Security Trainer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
{% endblock body %}

