{% extends 'mainApp/base.html' %}
{% load static %}

{% block title %}Testimonial{% endblock %}

{% block body %}
<!-- Testimonial Start -->
<div class="container-fluid testimonial pb-5">
    <div class="container pb-5">
        <div class="pb-5">
            <h4 class="text-secondary sub-title fw-bold wow fadeInUp" data-wow-delay="0.1s">OUR CLIENTS RIVIEWS</h4>
            <h1 class="display-2 mb-0 wow fadeInUp" data-wow-delay="0.3s">What Our Clients Say</h1>
        </div>
        <div class="owl-carousel testimonial-carousel pt-5 wow fadeInUp" data-wow-delay="0.2s">
            <div class="testimonial-item border text-center rounded">
                <div class="rounded-circle position-absolute" style="width: 100px; height: 100px; top: 25px; left: 50%; transform: translateX(-50%);">
                    <img class="img-fluid rounded-circle" src="{% static 'mainApp/img/testimonial-1.jpg' %}" alt="img">
                </div>
                <div class="position-relative" style="margin-top: 140px;">
                    <h5 class="mb-0">John Smith</h5>
                    <p>Dancer</p>
                    <div class="d-flex justify-content-center">
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="testimonial-content p-4">
                    <p class="fs-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
            </div>
            <div class="testimonial-item border text-center rounded">
                <div class="rounded-circle position-absolute" style="width: 100px; height: 100px; top: 25px; left: 50%; transform: translateX(-50%);">
                    <img class="img-fluid rounded-circle" src="{% static 'mainApp/img/testimonial-2.jpg' %}" alt="img">
                </div>
                <div class="position-relative" style="margin-top: 140px;">
                    <h5 class="mb-0">Sarah Johnson</h5>
                    <p>Student</p>
                    <div class="d-flex justify-content-center">
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="testimonial-content p-4">
                    <p class="fs-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
            </div>
            <div class="testimonial-item border text-center rounded">
                <div class="rounded-circle position-absolute" style="width: 100px; height: 100px; top: 25px; left: 50%; transform: translateX(-50%);">
                    <img class="img-fluid rounded-circle" src="{% static 'mainApp/img/testimonial-3.jpg' %}" alt="img">
                </div>
                <div class="position-relative" style="margin-top: 140px;">
                    <h5 class="mb-0">Michael Brown</h5>
                    <p>Parent</p>
                    <div class="d-flex justify-content-center">
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="testimonial-content p-4">
                    <p class="fs-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
            </div>
            <div class="testimonial-item border text-center rounded">
                <div class="rounded-circle position-absolute" style="width: 100px; height: 100px; top: 25px; left: 50%; transform: translateX(-50%);">
                    <img class="img-fluid rounded-circle" src="{% static 'mainApp/img/testimonial-4.jpg' %}" alt="img">
                </div>
                <div class="position-relative" style="margin-top: 140px;">
                    <h5 class="mb-0">Emily Davis</h5>
                    <p>Professional Dancer</p>
                    <div class="d-flex justify-content-center">
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star text-secondary"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="testimonial-content p-4">
                    <p class="fs-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock body %}

