{% extends 'mainApp/base.html' %}
{% load static %}

{% block title %}Dance Training{% endblock %}

{% block body %}
<!-- Training Start -->
<div class="container-fluid training py-5">
    <div class="container py-5">
        <div class="pb-5">
            <div class="row g-4 align-items-end">
                <div class="col-xl-8">
                    <h4 class="text-secondary sub-title fw-bold wow fadeInUp" data-wow-delay="0.1s">Our Courses</h4>
                    <h1 class="display-2 mb-0 wow fadeInUp" data-wow-delay="0.3s">Our WebAsha Courses</h1>
                </div>
                <div class="col-xl-4 text-xl-end wow fadeInUp" data-wow-delay="0.3s">
                    <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">View All Courses</a>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="training-item bg-white rounded">
                    <div class="training-img rounded-top">
                        <img src="{% static 'mainApp/img/courses/red_hat_enterprise_linux_8.png' %}" class="img-fluid rounded-top w-100" alt="Image">
                        <h1 class="fs-1 fw-bold bg-primary text-white d-inline-block rounded p-2 position-absolute" style="top: 0; left: 0;">01</h1>
                    </div>
                    
                    <div class="rounded-bottom border border-top-0 p-4">
                        <a href="#" class="h4 mb-3 d-block " >Red Hat</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="training-item bg-white rounded">
                    <div class="training-img rounded-top">
                        <img src="{% static 'mainApp/img/courses/enp08222023-what-is-ethical-hacking.avif' %}" class="img-fluid rounded-top w-100" alt="Image">
                        <h1 class="fs-1 fw-bold bg-primary text-white d-inline-block rounded p-2 position-absolute" style="top: 0; left: 0;">02</h1>
                    </div>
                    <div class="rounded-bottom border border-top-0 p-4">
                        <a href="#" class="h4 mb-3 d-block">Cybersecurity & Ethical Hacking-EC-Council</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="training-item bg-white rounded">
                    <div class="training-img rounded-top">
                        <img src="{% static 'mainApp/img/courses/cybersecurity-offsec.png' %}" class="img-fluid rounded-top w-100" alt="Image">
                        <h1 class="fs-1 fw-bold bg-primary text-white d-inline-block rounded p-2 position-absolute" style="top: 0; left: 0;">03</h1>
                    </div>
                    <div class="rounded-bottom border border-top-0 p-4">
                        <a href="#" class="h4 mb-3 d-block">Cybersecurity & Ethical Hacking Offsec</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="training-item bg-white rounded">
                    <div class="training-img rounded-top">
                        <img src="{% static 'mainApp/img/courses/Networking&Infrastructure.png' %}" class="img-fluid rounded-top w-100" alt="Image">
                        <h1 class="fs-1 fw-bold bg-primary text-white d-inline-block rounded p-2 position-absolute" style="top: 0; left: 0;">04</h1>
                    </div>
                    <div class="rounded-bottom border border-top-0 p-4">
                        <a href="#" class="h4 mb-3 d-block">Networking & Infrastructure (Cisco, VMWare,Vertias)</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.9s">
                <div class="training-item bg-white rounded">
                    <div class="training-img rounded-top">
                        <img src="{% static 'mainApp/img/service-1.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                        <h1 class="fs-1 fw-bold bg-primary text-white d-inline-block rounded p-2 position-absolute" style="top: 0; left: 0;">05</h1>
                    </div>
                    <div class="rounded-bottom border border-top-0 p-4">
                        <a href="#" class="h4 mb-3 d-block">Personalized Learning</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.11s">
                <div class="training-item bg-white rounded">
                    <div class="training-img rounded-top">
                        <img src="{% static 'mainApp/img/service-2.jpg' %}" class="img-fluid rounded-top w-100" alt="Image">
                        <h1 class="fs-1 fw-bold bg-primary text-white d-inline-block rounded p-2 position-absolute" style="top: 0; left: 0;">06</h1>
                    </div>
                    <div class="rounded-bottom border border-top-0 p-4">
                        <a href="#" class="h4 mb-3 d-block">Convenient Dancing</a>
                        <p class="mb-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni vero excepturi blanditiis quidem</p>
                        <a class="btn btn-primary rounded-pill text-white py-2 px-4" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Training End -->
{% endblock body %}

